.body {
  width: 100%;
  margin: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.body > .title-employees {
  width: 1000px;
  height: 50px;
  margin: auto;
}
.body > .title-employees > .button-cancel {
  width: 70px;
  height: 25px;
  border: 0px;
  cursor: pointer;
  display: flex;
}
.body > .title-employees > .button-cancel:hover {
  color: #8f8f8f;
}
.body > .title-employees > .button-add {
  float: right;
  width: 120px;
  line-height: 35px;
  border: 0px;
  background: #008aff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-top: -20px;
}
.body > .title-employees > .button-add:hover {
  background: #64aff1;
}
.body > .add-new-employees {
  width: 1000px;
  height: 500px;
  background: white;
  margin: auto;
  color: black;
  border-radius: 3px;
  border: 1px solid #dddddd;
  margin-top: 10px;
}
.body > .add-new-employees .title {
  width: 1000px;
  height: 60px;
  border-bottom: 1px solid gray;
}
.body > .add-new-employees .title span {
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.body > .add-new-employees > .card-body .group {
  width: 1000px;
  display: flex;
  margin-top: 20px;
}
.body > .add-new-employees > .card-body .group .group-left {
  margin-left: 50px;
}
.body > .add-new-employees > .card-body .group .group-left .form-group {
  margin-bottom: 10px;
}
.body > .add-new-employees > .card-body .group .group-left .form-group-1 {
  margin-top: 20px;
}
.body > .add-new-employees > .card-body .group .group-left .form-group > input {
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px solid #dddddd;
}
.body > .add-new-employees > .card-body .group .group-right {
  margin-left: 50px;
  z-index: 0;
}
.body
  > .add-new-employees
  > .card-body
  .group
  .group-right
  .form-group
  > input {
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  z-index: 0;
}
.body > .add-new-employees > .card-body .group .group-right .form-group {
  margin-bottom: 10px;
  z-index: 0;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2 {
  margin-top: 10px;
  margin-bottom: -10px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > .button-add-role {
  border: 0px;
  width: 170px;
  height: 30px;
  cursor: pointer;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > .button-add-role:hover {
  background: #008aff;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > .button-add-role:hover
  > span {
  color: white;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > .button-add-role
  > span {
  color: #008aff;
  display: inline-block;
  margin-top: 2px;
  margin-left: 10px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal.display-modal {
  display: block;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal.hidden-modal {
  display: none;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role {
  width: 500px;
  height: 300px;
  border: 1px solid #dddddd;
  background: white;
  margin-left: 650px;
  margin-top: 75px;
  display: none;
  z-index: 1;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role.display-role {
  display: block;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role.hidden-role {
  display: none;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role {
  display: flex;
  height: 35px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role
  > .close {
  width: 100px;
  text-align: center;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role
  > .close
  > span {
  display: inline-block;
  margin-left: 70px;
  border-radius: 100px;
  cursor: pointer;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role
  > .close
  > span:hover {
  color: red;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role
  > .title-role {
  width: 400px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .title-add-role
  > .title-role
  > span {
  display: inline-block;
  margin-left: 200px;
  margin-top: 10px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .form-group-role {
  height: 70px;
  margin-left: 40px;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .form-group-role
  > .form-control {
  width: 390px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #dddddd;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > .form-group-role
  > .form-control-2 {
  width: 390px;
  height: 100px;
  padding-left: 10px;
  border: 1px solid #dddddd;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-2
  > .add-role
  > #modal
  > #create-role
  > button {
  width: 150px;
  height: 30px;
  margin-left: 180px;
  margin-top: 80px;
  border: 0px;
  border-radius: 3px;
  background: #008aff;
  cursor: pointer;
}
.body
  > .add-new-employees
  > .card-body
  > form
  > .group
  > .group-left
  > .form-group-role-list {
  box-shadow: 0 2px 4px hsl(0deg 0% 66% / 25%);
  margin-top: 10px;
  width: 300px;
  z-index: 0;
  margin-left: 10px;
  border: 1px solid #a5a0a04d;
  border-radius: 6px;
}
.body label {
  color: black;
  margin-left: 10px;
}
.btn {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-left: 330px;
  border: 0px;
  border-radius: 3px;
}
.btn-success {
  background: #008aff;
}
