@sapo-presentation:registry=https://git.dktsoft.com:2008/api/v4/projects/2357/packages/npm/
//git.dktsoft.com:2008/api/v4/projects/2357/packages/npm/:_authToken=glpat-MT8Kb66sgdaYFSvPsXna
//git.dktsoft.com:2008/api/v4/packages/npm/:_authToken=glpat-MT8Kb66sgdaYFSvPsXna
