.filter-month > form > .month-choose{
    border: 1px solid #bbbbbb;
    width: 140px;
    height: 34px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0px;
}
