form > .search{
    width: 490px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: gray;
    
 }
 form > .search:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}