.list-timesheets {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    position: relative;
    margin: auto;
    margin-top: -40px;
}

.list-timesheets>.title-employees>.name-title>.button-cancel {
    width: 70px;
    height: 25px;
    border: 0px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
}

.list-timesheets>.title-employees>.name-title>.button-cancel:hover {
    color: #8f8f8f;
}

.list-timesheets>.title-employees>.name-title>.name-list>span {
    font-size: 25px;
}

.list-timesheets>#modal-timesheet {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.list-timesheets>#modal-timesheet.modal-timesheet {
    display: block;
}

.list-timesheets>#modal-timesheet>.create-timesheet {
    width: 400px;
    height: 200px;
    background: white;
    margin-left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.list-timesheets>#modal-timesheet>.create-timesheet>.title-add-timesheet {
    width: 400px;
    height: 50px;
    display: flex;
}

.list-timesheets>#modal-timesheet>.create-timesheet>.title-add-timesheet>.title-timesheet>span {
    font-size: 20px;
    display: inline-block;
    margin-left: 100px;
}

.list-timesheets>#modal-timesheet>.create-timesheet>.title-add-timesheet>.title-timesheet {
    width: 350px;
    margin-top: 10px;
    margin-left: 10px;
}

.list-timesheets>#modal-timesheet>.create-timesheet>.title-add-timesheet>.close>span:hover {
    color: red;
    cursor: pointer;
}

.list-timesheets>#modal-timesheet>.create-timesheet>.title-add-timesheet>.close {
    margin-top: 10px;
    margin-left: 10px;
}

.list-timesheets>#modal-timesheet>.create-timesheet>select {
    width: 150px;
    height: 35px;
    margin-left: 125px;
    border: 0px;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.list-timesheets>#modal-timesheet>.create-timesheet>button {
    width: 70px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    background: #008aff;
    color: white;
    margin-left: 150px;
    margin-top: 40px;
    cursor: pointer;
}

.list-timesheets>.title-employees {
    width: 100%;
    display: flex;
    height: 50px;
    margin-bottom: -10px;
}

.list-timesheets>.title-employees>.name-title {
    width: 50%;
}

.list-timesheets>.title-employees>.name-title>span {
    font-size: 25px;
    font-weight: bolder;
}

.list-timesheets>.title-employees>.add-new-invoice {
    width: 50%;
}

.list-timesheets>.title-employees>.add-new-invoice>.button-add {
    float: right;
    width: 120px;
    line-height: 35px;
    border: 0px;
    background: #008aff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.list-timesheets>.title-employees>.add-new-invoice>.button-add:hover {
    background: #64aff1;
}

.list-timesheets>.content-employees {
    background: white;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding-bottom: 30px;

}

.list-timesheets>.content-employees>.filter {
    width: 97.5%;
    height: 60px;
    display: flex;
    margin-top: 20px;

}

.list-timesheets>.content-employees>.filter>.action {
    max-width: 640px;
    height: 35px;
    display: flex;
    border-bottom: 1px solid #dddddd;
    margin-left: 35px;
    margin-top: 12px;
    background: white;
    z-index: 0;

}

.list-timesheets>.content-employees>.filter>.action>.select {
    width: 140px;
    display: flex;
}

.list-timesheets>.content-employees>.filter>.action>.select:hover {
    background: #fafafa;
    border-bottom: 2px solid #008aff;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices {
    display: flex;
    min-width: 140px;
    height: 35px;

}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-action {
    width: 120px;
    height: 35px;
    border: 0px;
    cursor: pointer;
    background: white;
    color: #525050;
    font-size: 14px;

}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-action:hover {
    background: #fafafa;
    border-bottom: 2px solid #008aff;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other {
    width: 120px;
    height: 35px;
    background: white;
    color: #525050;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
    margin-top: -1px;
    z-index: 1;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other:hover {
    background: #fafafa;
    border-bottom: 2px solid #008aff;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other>.title-button {
    display: flex;
    margin-top: 5px;
    margin-left: 34px;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other>#content-button {
    width: 120px;
    min-height: 35px;
    margin-top: 10px;
    display: none;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other>#content-button.content-button {
    display: block;


}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other>#content-button>.button-action {
    width: 120px;
    height: 35px;
    background: white;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    color: #525050;
}

.list-timesheets>.content-employees>.filter>.action>.add-invoices>.button-other>#content-button>.button-action:hover {
    background: #fafafa;
    border-bottom: 2px solid #008aff;
}

.list-timesheets>.content-employees>.table {
    width: 97.5%;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;

}

.list-timesheets>.content-employees>.table>thead>tr {
    width: 1170px;
    height: 50px;
    text-align: left;
    background: white;
    border-bottom: 1px solid #dddddd;
}

.list-timesheets>.content-employees>.table>thead tr th input {
    margin-left: 20px;
}

.list-timesheets>.content-employees>.table>thead tr th input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.list-timesheets>.content-employees>.table>thead tr th span {
    margin-left: 20px;
}

.list-timesheets>.content-employees>.table>tbody>tr>td {
    border-bottom: 1px solid #dddddd;
}

.list-timesheets>.content-employees>.table>tbody tr {
    line-height: 50px;
    color: #0d0f12;
}

.list-timesheets>.content-employees>.table>tbody>tr>td>input {
    margin-left: 20px;
}

.list-timesheets>.content-employees>.table>tbody>tr>.td-7 {
    width: 120px;
}

.list-timesheets>.content-employees>.table>tbody>tr>td>input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.list-timesheets>.content-employees>.table>tbody>tr>td span {
    margin-left: 20px;
}

.list-timesheets>.content-employees>.table>tbody>tr>td button {
    margin-left: 20px;
}

.list-timesheets>.content-employees>.table>tbody>tr>td .update {
    border: 0px;
    width: 50px;
    border-radius: 5px;
}

.list-timesheets>.content-employees>.pagination-limit {
    width: 100%;
    display: flex;
    z-index: 0;
}

.list-timesheets>.content-employees>.pagination-limit>.limit {
    margin-top: 30px;
    width: 15%;
    margin-left: 5px;
    display: flex;
    z-index: 1;
}

.list-timesheets>.content-employees>.pagination-limit>.limit>span {
    display: inline-block;
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.list-timesheets>.content-employees>.pagination-limit>.pagination {
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.list-timesheets>#modal-edit-timesheet {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.list-timesheets>#modal-edit-timesheet.modal-edit-timesheet {
    display: block;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet {
    width: 500px;
    height: 250px;
    background: white;
    margin-left: 42%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.title-add-edit-timesheet {
    width: 480px;
    height: 70px;
    display: flex;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.title-add-edit-timesheet>.title-edit-timesheet>span {
    font-size: 20px;
    display: inline-block;
    margin-left: 85px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.title-add-edit-timesheet>.title-edit-timesheet {
    width: 480px;
    margin-top: 10px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.title-add-edit-timesheet>.close>span:hover {
    color: red;
    cursor: pointer;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.title-add-edit-timesheet>.close {
    margin-top: 10px;
    margin-left: 20px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet {
    width: 500px;
    height: 100px;
    cursor: pointer;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user {
    width: 500px;
    margin-left: 50px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user>table>tr>th {
    float: left;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user.group {
    width: 300px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user .group .group-main {
    margin-left: 250px;
    margin-top: -80px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user .group>.check-status>input {
    float: none;
    margin-top: 30px;
    margin-left: -163px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user .group .group-main .form-group {
    margin-bottom: 10px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>form>.form-group {
    margin-left: 400px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user .group .group-main .form-group>label {
    float: left;
    margin-bottom: 30px;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>.content-edit-timesheet>.info-user .group .group-main .form-group>input {
    float: left;
    width: 40px;
    height: 30px;
    margin-left: 110px;
    margin-top: -60px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #dddddd;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>button {
    width: 70px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    background: #008aff;
    color: white;
    margin-left: 220px;
    margin-top: 30px;
    cursor: pointer;
}

.list-timesheets>#modal-edit-timesheet>.create-edit-timesheet>button:hover {
    background: #51a8f5;
}